<div class="donate">
    <h1>Support us</h1>
    <form>
        <script src="https://cdn.razorpay.com/static/widget/subscription-button.js"
            data-subscription_button_id="pl_HLk5qU1K35hmPH" data-button_theme="brand-color" async> </script>
    </form>
</div>