<div class="hero-section">
    <div class="hero-text">
        <h1 class="title">
            Digital Patrakar
            <br/>
            Defence Clinic
        </h1>
        <div class="subtitle">
            Legal Advice, assistance, and representation
            <br/>
            to Indian Journalists. PRO BONO.
        </div>
        <div class="caption">A project by</div>
        <div class="iff-logo">{{>iffLogo}}</div>
    </div>
    <div class="hero-image">
        {{>heroImage}}
    </div>

</div>