<div class="hero-section">
    <div class="hero-text">
        <h1 class="title">
            Digital Patrakar
            <br/>
            Defence Clinic
        </h1>
        <div class="subtitle">
            Legal Advice, assistance, and representation
            <br/>
            to Indian Journalists. PRO BONO.
        </div>
        <div class="caption">A project by</div>
        <div class="iff-logo">{{>iffLogo}}</div>
    </div>
    <div class="hero-image">
        {{>heroImage}}
    </div>
    <div class="lined-circle">
        <svg viewBox="0 0 100 250" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M-132.553 61.2412L-88.7588 17.4474C-86.7874 16.2766 -84.7907 15.1647 -82.7713 14.1116L-135.889 67.2288C-134.835 65.2094 -133.723 63.2127 -132.553 61.2412ZM-144.338 87.7042C-143.925 86.3788 -143.489 85.0589 -143.031 83.7452L-66.255 6.96961C-64.9412 6.51125 -63.6214 6.07546 -62.296 5.66224L-144.338 87.7042ZM-148.165 103.557C-147.976 102.468 -147.773 101.381 -147.555 100.296L-49.7046 2.44494C-48.6195 2.22704 -47.5321 2.02363 -46.4427 1.83471L-148.165 103.557ZM-149.768 117.186C-149.708 116.231 -149.637 115.276 -149.556 114.322L-35.6779 0.444321C-34.7242 0.362829 -33.7696 0.292246 -32.8145 0.232572L-149.768 117.186ZM-149.937 129.381C-149.967 128.518 -149.988 127.655 -150 126.792L-23.2076 7.59709e-05C-22.3446 0.0121607 -21.4816 0.0331267 -20.6189 0.062974L-149.937 129.381ZM-149.054 140.525C-149.153 139.732 -149.244 138.939 -149.327 138.145L-11.8547 0.673212C-11.0609 0.756435 -10.2678 0.847236 -9.47543 0.945616L-149.054 140.525ZM-147.336 150.833C-147.49 150.097 -147.638 149.361 -147.779 148.624L-1.37642 2.22105C-0.639099 2.362 0.0971832 2.50962 0.832352 2.66392L-147.336 150.833ZM-144.919 160.441C-145.121 159.754 -145.317 159.066 -145.507 158.377L8.37706 4.49355C9.06628 4.68353 9.7542 4.87953 10.4407 5.08153L-144.919 160.441ZM-141.893 169.442C-142.137 168.798 -142.376 168.153 -142.609 167.506L17.5055 7.39125C18.1523 7.62432 18.7977 7.86289 19.4414 8.10697L-141.893 169.442ZM-138.324 177.898C-138.606 177.293 -138.883 176.686 -139.155 176.078L26.0778 10.845C26.6864 11.1169 27.2932 11.3939 27.8983 11.6761L-138.324 177.898ZM-134.257 185.858C-134.575 185.288 -134.887 184.717 -135.195 184.143L34.1436 14.8052C34.7168 15.1129 35.2882 15.4254 35.8577 15.7427L-134.257 185.858ZM-129.727 193.353C-130.077 192.817 -130.423 192.279 -130.764 191.739L41.739 19.2358C42.2791 19.5771 42.8172 19.9229 43.3532 20.2733L-129.727 193.353ZM-124.757 200.409C-125.139 199.905 -125.517 199.399 -125.89 198.89L48.8902 24.1103C49.3988 24.4834 49.9052 24.861 50.4094 25.2428L-124.757 200.409ZM-119.366 207.045C-119.778 206.571 -120.187 206.095 -120.59 205.617L55.617 29.4096C56.0951 29.8135 56.571 30.2216 57.0444 30.6338L-119.366 207.045ZM-113.567 213.271C-114.008 212.827 -114.446 212.381 -114.88 211.933L61.9325 35.1201C62.381 35.5539 62.8271 35.9917 63.2707 36.4335L-113.567 213.271ZM-107.364 219.095C-107.834 218.682 -108.301 218.266 -108.766 217.845L67.8452 41.2336C68.2657 41.6987 68.6822 42.1661 69.0945 42.6359L-107.364 219.095ZM-100.754 224.51C-101.254 224.128 -101.751 223.742 -102.247 223.352L73.3516 47.7531C73.742 48.2486 74.1282 48.7463 74.51 49.2463L-100.754 224.51ZM-93.7228 229.505C-94.254 229.155 -94.7831 228.8 -95.31 228.441L78.4408 54.6901C78.8001 55.217 79.1549 55.7461 79.5052 56.2773L-93.7228 229.505ZM-86.2539 234.063C-86.8178 233.745 -87.3796 233.423 -87.9395 233.096L83.0963 62.0604C83.423 62.6203 83.7451 63.1822 84.0624 63.746L-86.2539 234.063ZM-78.3233 238.157C-78.9218 237.875 -79.5184 237.588 -80.1133 237.296L87.2958 69.887C87.588 70.4819 87.8752 71.0785 88.1574 71.677L-78.3233 238.157ZM-69.8969 241.757C-70.5327 241.513 -71.1669 241.263 -71.7995 241.008L91.0082 78.2008C91.2633 78.8333 91.513 79.4676 91.7573 80.1034L-69.8969 241.757ZM-60.9301 244.817C-61.607 244.614 -62.2825 244.406 -62.9565 244.191L94.1913 87.0436C94.4056 87.7176 94.614 88.3931 94.8165 89.07L-60.9301 244.817ZM-51.3602 247.273C-52.0833 247.117 -52.8054 246.955 -53.5262 246.787L96.7868 96.4739C96.9552 97.1947 97.117 97.9168 97.2724 98.6399L-51.3602 247.273ZM-41.0971 249.036C-41.8741 248.935 -42.6502 248.827 -43.4255 248.712L98.7122 106.574C98.8273 107.35 98.935 108.126 99.0355 108.903L-41.0971 249.036ZM-30.0085 249.973C-30.8505 249.939 -31.6922 249.897 -32.5335 249.846L99.8462 117.467C99.8969 118.308 99.9391 119.15 99.9728 119.992L-30.0085 249.973ZM-17.8836 249.874C-18.809 249.926 -19.7349 249.968 -20.6611 250L100 129.339C99.9682 130.265 99.9263 131.191 99.8741 132.117L-17.8836 249.874ZM-4.35629 248.373C-5.39854 248.546 -6.44257 248.706 -7.48808 248.853L98.8531 142.512C98.7063 143.557 98.5462 144.601 98.373 145.644L-4.35629 248.373ZM11.3269 244.716C10.0943 245.088 8.85707 245.442 7.61569 245.775L95.7753 157.616C95.4415 158.857 95.0883 160.094 94.7157 161.327L11.3269 244.716ZM31.3663 236.702C29.6921 237.547 28.0028 238.352 26.2999 239.117L89.1171 176.3C88.3522 178.003 87.5473 179.692 86.7023 181.366L31.3663 236.702Z"
                fill="white" />
        </svg>
    </div>
</div>