<div class="protecting-journalists">
    <h1>
        PROTECTING JOURNALISTS
        <br/>
        PROTECTS JOURNALISM
    </h1>
    <div class="main">
        <div class="copy">
            <p>
                Over the years, freedom of press in India has suffered because of the rampant misuse of the law on
                sedition and national
                security, SLAPP suits, large-scale surveillance and frequent internet shutdowns. The situation has
                worsened because of
                an increasing rise in social media users who misuse the platform to reveal personal details of
                journalists, create false
                narratives, and encourage physical harm against them — simply because they speak truth to power.
            </p>
            <p>
                These threats compel journalists to seek legal support. However, because such support is expensive,
                journalists are
                cornered into silence.
            </p>
            <p>
                The <strong>Digital Patrakar Defence Clinic</strong>, a weekly pro bono clinic, has been launched with
                an aim to empower journalists to
                respond to such threats, and cultivate an environment which enables the fourth estate to flourish.
            </p>
            <p>
                Journalists from across India can attend the Clinic (on Zoom) and seek free legal support from our
                partner lawyers, who
                are <strong>experts on freedom of the press, criminal law, digital rights and free speech</strong>.
            </p>
            <div class="cta">
                {{#link href="https://blocksurvey.io/survey/1PfQfn62JSDjjyK4nuHoY5t21wKeuocLLm/a8b7fe71-5ea4-46f8-9e67-0e007ebbc61a"}}
                    <button class="register-button">Register with us</button>
                {{/link}}
            </div>
        </div>
        <div class="infographic">
            <div class="bubble small dark-blue">
                <span>
                    Several journalists faced criminal charges for reporting COVID-19 cases, as per the Human Rights
                    Watch (2021)
                </span>
            </div>
            <div class="bubble medium teal column right">
                <span>India’s freedom of Press ranking fell to</span>
                <span class="large-text">142</span>
                <span>from 122 between 2010 to 2021</span>
            </div>
            <div class="bubble large light-blue left">
                <span>
                    According to Reporters Without Borders, journalists in India are exposed to police violence,
                    ambushes by political activists, reprisal instigated by criminal groups and prosecution for
                    sedition.
                </span>
            </div>
        </div>
    </div>
</div>