<div class="purpose">
    <div class="copy">
        This legal clinic defends the rights of reporters, multimedia journalists, bloggers, cartoonists, and citizen
        journalists — anybody with critical commentary on current issues — to respond to threats to their reportage, and
        cultivate a healthy environment which enables the crucial work of independent journalism to flourish.
        {{#link rel="noopener noreferrer" target="_blank"
        href="https://pages.razorpay.com/dpdc-iff"}}
        <button class="support-button-white">Support the Patrakar Clinic</button>
        {{/link}}
    </div>
    <div class="graphic">
        <h1>Pro-bono Legal Support</h1>
        <div>
            <img class="purpose-icon" src="{{asset 'assets/img/purpose1.png'}}" alt="purpose icon" />
            <span>From experts on press freedom, criminal law, digital rights and free speech.</span>
        </div>
        <div>
            <img class="purpose-icon" src="{{asset 'assets/img/purpose2.png'}}" alt="purpose icon" />
            <span>Protecting independent journalism in India.</span>
        </div>
    </div>
</div>
