<div class="purpose">
    <div class="copy">
        This legal clinic defends the rights of reporters, multimedia journalists, bloggers, cartoonists, and citizen journalists — anybody with critical commentary on current issues — to respond to threats to their reportage, and cultivate a healthy environment which enables the crucial work of independent journalism to flourish.
        {{#link rel="noopener noreferrer" target="_blank"
        href="https://rzp.io/l/IFFLL2019"}}
        <button class="support-button-white">Help the Patrakar Clinic</button>
        {{/link}}
    </div>
    <div class="images">
        <div>Placeholder</div>
        <div>Placeholder</div>
        <div>Placeholder</div>
    </div>
</div>