<div class="register-form">
    {{#unless hideHeader}}
        <h1>Register With Us</h1>
    {{/unless}}
    <iframe title="DPDC Onboarding Form" class="register-form-frame"
        src="https://blocksurvey.io/survey/1PfQfn62JSDjjyK4nuHoY5t21wKeuocLLm/a8b7fe71-5ea4-46f8-9e67-0e007ebbc61a">
    </iframe>
</div>