{{#get "posts" filter="tags:partner" limit="all" as |sponsors|}}
    {{#if sponsors}}
        <div class="sponsors">
            <h1 class="sponsors-title">Our Partners</h1>
            <div class="sponsors-grid">
                {{#foreach sponsors visibility="all"}}
                    <div class="sponsor-card">
                        {{#if feature_image}}
                            <img src="{{img_url feature_image}}">
                        {{/if}}
                    </div>
                {{/foreach}}
            </div>
        </div>
    {{/if}}
{{/get}}