<div class="support-banner">
    <p> 
        IFF relies on the support of a fantastic base of volunteers. This website was designed by <a target="_blank" rel="noopener noreferrer" href="https://www.prashantmatta.com/">Prashant Matta</a> and <a target="_blank" rel="noopener noreferrer" href="https://www.madhushreek.com/">Madhushree</a> and developed by <a target="_blank" rel="noopener noreferrer" href="https://krishna-acondy.io/">Krishna Acondy</a> and <a target="_blank" rel="noopener noreferrer" href="https://kartikcho.github.io/">Kartik Choudhary.</a>
    </p>
    <br />
    <p>
        If you’d like to volunteer and support us in future projects, please email us at <a href="mailto:volunteer@internetfreedom.in">volunteer@internetfreedom.in</a>
    </p>
</div>
