{{#get "posts" filter="tags:testimonial" limit="all" as |testimonials|}}
    {{#if testimonials}}
    <div class="testimonials-wrapper">
        <div class="testimonials">
            <h1 class="testimonials-title">Testimonials</h1>
            <div class="testimonial-feed js-testimonial-feed">
                {{#foreach testimonials visibility="all"}}
                    <div class="testimonial-card">
                        <blockquote class="testimonial">
                            {{content}}
                        </blockquote>
                        <span class="testimonial-person">{{title}}</span>

                    </div>
                {{/foreach}}
            </div>
        </div>
        <div class="stats">
            {{#get "posts" filter="tags:clinics-held" limit="all" as |clinicsHeld|}}
                {{#if clinicsHeld}}
                    {{#foreach clinicsHeld visibility="all"}}
                        {{#if @first}}
                            <div class="card">
                                <h3>{{content}}</h3>
                                <p>Clinics held</p>
                            </div>
                        {{/if}}
                    {{/foreach}}
                {{/if}}
            {{/get}}
            {{#get "posts" filter="tags:journalists-helped" limit="all" as |journalistsHelped|}}
                {{#if journalistsHelped}}
                    {{#foreach journalistsHelped visibility="all"}}
                        {{#if @first}}
                            <div class="card">
                                <h3>{{content}}</h3>
                                <p>Journalists helped</p>
                            </div>
                        {{/if}}
                    {{/foreach}}
                {{/if}}
            {{/get}}
        </div>
    </div>
    {{/if}}
{{/get}}