<div class="twitter-feed">
    <h1>Stay up to date with us</h1>
    <div class="feed-wrapper">
        <a class="twitter-timeline" href="https://twitter.com/PatrakarClinic?ref_src=twsrc%5Etfw">
        Tweets by PatrakarClinic
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>