<div class="twitter-feed">
    <h1>Stay up to date with us</h1>
    <div class="feed-wrapper">
        <a target="_blank" rel="noopener noreferrer" class="twitter-timeline" href="https://twitter.com/PatrakarClinic?ref_src=twsrc%5Etfw">
            <div class="twitter-feed-fallback">
                <svg width="148" height="120" viewBox="0 0 148 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M147.654 105.794C142.222 103.383 136.383 101.759 130.256 101.026C136.507 104.773 141.311 110.71 143.575 117.785C137.725 114.309 131.24 111.793 124.337 110.427C118.813 116.321 110.938 120 102.226 120C85.4981 120 71.9323 106.434 71.9323 89.7062C71.9323 87.3314 72.203 85.0182 72.7198 82.8034C47.5447 84.0646 25.2181 96.123 10.2804 114.457C7.67188 109.978 6.17688 104.779 6.17687 99.2238C6.17687 88.7157 11.5232 79.4381 19.6565 74.0056C14.6916 74.1718 10.0159 75.5314 5.93078 77.7954L5.93078 77.4202C5.93078 62.7408 16.3712 50.4978 30.2322 47.717C27.6914 47.0156 25.009 46.6527 22.2527 46.6527C20.2963 46.6527 18.4014 46.8434 16.5496 47.1941C20.4071 35.1602 31.5919 26.3994 44.85 26.1533C34.4773 18.0323 21.416 13.1905 7.22891 13.1905C4.7803 13.1905 2.36861 13.332 -9.30101e-06 13.6088C13.4058 5.02026 29.3279 4.83369e-06 46.4373 3.33793e-06C102.158 -1.53336e-06 132.624 46.1605 132.624 86.1933C132.624 87.5037 132.594 88.808 132.538 90.1061C138.457 94.3819 143.594 99.716 147.654 105.794Z"
                        fill="#0AA0E9" />
                </svg>
                <span>Looks like the Twitter widget is not functioning</span>
                <span class="grey">Find our updates <strong>@PatrakarClinic</strong></span>
            </div>
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

