{{!< default}}
<div class="blog-page">
    <h1>
        Patrakar Clinic's Blog
    </h1>
    <div class="posts">
        {{#foreach posts}}
            {{>article}}
        {{/foreach}}
    </div>
</div>