{{!< default}}

<div class="calendar-section">
    <h1 class="heading">
        Calendar
    </h1>
    {{!-- Displays current month name --}}
    <h3 class="subheading">
        The Schedule for {{date format="MMMM"}} is as follows:
    </h3>
    {{!-- Tweak monthly calendar here --}}
    <div class="calendar-card">
        <div class="card">
            <div class="details">
                <p class="date">6</p>
                <p class="month">Oct</p>
                <p class="day">
                    Saturday
                </p>
                <p class="time">11 - 12 PM</p>
            </div>
            <div class="info">
                <h3 class="title">SANJANA SRIKUMAR</h3>
                <p class="subtitle">Consulting Lawyer</p>
            </div>
        </div>
        <div class="card">
            <div class="details">
                <p class="date">6</p>
                <p class="month">Oct</p>
                <p class="day">
                    Saturday
                </p>
                <p class="time">11 - 12 PM</p>
            </div>
            <div class="info">
                <h3 class="title">SANJANA SRIKUMAR</h3>
                <p class="subtitle">Consulting Lawyer</p>
            </div>
        </div>
        <div class="card">
            <div class="details">
                <p class="date">6</p>
                <p class="month">Oct</p>
                <p class="day">
                    Saturday
                </p>
                <p class="time">11 - 12 PM</p>
            </div>
            <div class="info">
                <h3 class="title">SANJANA SRIKUMAR</h3>
                <p class="subtitle">Consulting Lawyer</p>
            </div>
        </div>
        <div class="card">
            <div class="details">
                <p class="date">6</p>
                <p class="month">Oct</p>
                <p class="day">
                    Saturday
                </p>
                <p class="time">11 - 12 PM</p>
            </div>
            <div class="info">
                <h3 class="title">SANJANA SRIKUMAR</h3>
                <p class="subtitle">Consulting Lawyer</p>
            </div>
        </div>
    </div>
</div>
{{!-- Only use center align for this banner --}}
<div class="banner" style="text-align: center;">
    <p>
        This schedule will be regularly updated and posted on <a href="https://twitter.com/PatrakarClinic">DPDC’s Twitter</a> and <a href="https://www.instagram.com/internetfreedom.in/?hl=en">IFF’s Instagram</a> handle.
    </p>
</div>