{{!< default}}

<div class="calendar-section">
    <h1 class="heading">
        Calendar
    </h1>
    <h3 class="subheading">
        The Schedule for {{date format="MMMM"}} is as follows:
    </h3>
    <div class="calendar-card">
        <div class="card">
            <div class="details">
                <p class="date">6</p>
                <p class="month">Oct</p>
                <p class="day">
                    Saturday night
                </p>
                <p class="time">11 AM - 12 PM</p>
            </div>
            <h3 class="title">Join the clinic</h3>
            <p class="subtitle">Join the link at the appointed time, and have a direct 1:1 consultation with the expert lawyer! </p>
        </div>
    </div>
</div>
{{!-- Only use center align for this banner --}}
<div class="banner" style="text-align: center;">
    <p>
        This schedule will be regularly updated and posted on <a href="https://twitter.com/PatrakarClinic">DPDC’s Twitter</a> and <a href="https://www.instagram.com/internetfreedom.in/?hl=en">IFF’s Instagram</a> handle.
    </p>
</div>