{{!< default}}

<div class="calendar-section">
    <h1 class="heading">
        Calendar
    </h1>
    {{!-- Displays current month name --}}
    <h3 class="subheading">
        The Schedule for {{date format="MMMM"}} is as follows:
    </h3>
    {{!-- Tweak monthly calendar here --}}
    <div class="calendar-card">
        {{> calendarCard day="7" month="Aug" weekday="Sunday" time="11AM - 12PM" title="Abhinav Sekhri" subtitle="Consulting Lawyer"}}
        {{> calendarCard day="14" month="Aug" weekday="Sunday" time="11AM - 12PM" title="Abhinav Sekhri" subtitle="Consulting Lawyer"}}
        {{> calendarCard day="21" month="Aug" weekday="Sunday" time="11AM - 12PM" title="Abhinav Sekhri" subtitle="Consulting Lawyer"}}
        {{> calendarCard day="28" month="Aug" weekday="Sunday" time="11AM - 12PM" title="Abhinav Sekhri" subtitle="Consulting Lawyer"}}
    </div>
</div>
{{>events}}
{{!-- Only use center align for this banner --}}
<div class="banner" style="text-align: center;">
    <p>
        This schedule will be regularly updated and posted on <a href="https://twitter.com/PatrakarClinic">Patrakar Clinic’s Twitter</a>.
    </p>
</div>
