{{!< default}}

<div class="register-section">
    <h1 class="heading">
        Register With Us
    </h1>
    <h2 class="subheading">
        As a journalist, you can make use of this clinic in just 3 steps:
    </h2>
    <div class="step-container">
        <div class="step-count">
            {{!-- CSS Hack to make up for digit 1's smaller character width --}}
            <span style="margin-left: 0.25rem;">1</span>
            <img style="margin-left: 0.5rem;" class="step-icon" src="{{asset 'assets/img/contactIcon.png'}}" alt="contact icon"/>
        </div>
        <div>
            <h3 class="step-heading">Fill the form</h3>
            <p class="step-content">We want to know more about the issue you are facing. Fill the form <a href="#">here.</a> Your responses will not be shared with anyone.</p>
        </div>
    </div>
    <div class="step-container">
        <div class="step-count">
            <span>2</span>
            <img class="step-icon" src="{{asset 'assets/img/videoIcon.png'}}" alt="video icon"/>
        </div>
        <div>
            <h3 class="step-heading">Receive the zoom link</h3>
            <p class="step-content">We will send you the link to the Zoom meeting on the email address provided by you on the form.</p>
        </div>
    </div>
    <div class="step-container">
        <div class="step-count">
            <span>3</span>
            <img class="step-icon" src="{{asset 'assets/img/consultIcon.png'}}" alt="consult icon"/>
        </div>
        <div>
            <h3 class="step-heading">Join the clinic</h3>
            <p class="step-content">Join the link at the appointed time, and have a direct 1:1 consultation with the expert lawyer! </p>
        </div>
    </div>
</div>
<div class="contact-section">
    <h1 class="heading">
        Contact Us
    </h1>
    <h3 class="subheading">
        For Media Organisations
    </h3>
    <div class="subtitle">
        If you are a media organisation that would like to conduct the Clinic especially for your members, or if you have any other questions, email us at <a href="mailto:contact@patrakardefence.in">contact@patrakardefence.in</a>
    </div>
    <h3 class="subheading">
        For Lawyers
    </h3>
    <div class="subtitle">
        If you are a lawyer who wants to become a part of this network, get in touch at <a href="mailto:legalaid@patrakardefence.in">legalaid@patrakardefence.in</a>
    </div>
</div>
