{{!< default}}

<div class="contact-section">
    <h1 class="heading">
        Contact Us
    </h1>
    <h3 class="subheading">
        For Media Organisations
    </h3>
    <div class="subtitle">
        If you are a media organisation that would like to conduct the Clinic especially for your members, or if you have any other questions, email us at <b>contact@patrakardefence.in</b>
    </div>
    <h3 class="subheading">
        For Lawyers
    </h3>
    <div class="subtitle">
        If you are a lawyer who wants to become a part of this network, get in touch at <b>legalaid@patrakardefence.in</b>
    </div>
</div>
