{{!< default}}

<div class="register-section">
    <h1 class="heading">
        Register With Us
    </h1>
    <h2 class="subheading">
        As a journalist, you can make use of this clinic in just 3 steps:
    </h2>
    <div class="step-container">
        <div>
            <span class="step-count">1</span>
            <img class="step-icon" src="{{asset 'assets/img/contactIcon.png'}}" alt="contact-icon"/>
        </div>
        <h3 class="step-heading">Fill the form</h3>
        <p class="step-content">We want to know more about the issue you are facing. Fill the form <a href="#">here.</a> Your responses will not be shared with anyone.</p>
    </div>
</div>
