{{!< default}}
<main class="tag-page" role="main">
    <h1 class="box__title">{{tag.name}}</h1>
    {{#if tag.description}}
    <p class="box__text">
      {{tag.description}}
    </p>
    {{/if}}
  {{#foreach posts}}
    {{>article}}
  {{/foreach}}
</main>
