/* Variables */
:root {
  --teal: #4b9ba6;
  --darkBlue: #10335b;
  --lightBlue: #6ec4d0;
  --white: #ffffff;
  --grey: #d9d9d9;
  --midBlue: #226c8b;
  --lightGrey: #c4c4c4;
  --darkGrey: #545454;
  --midGrey: #757575;
  --pagePadding: 3rem 5%;
  --pagePaddingMobile: 2rem 5%;
}

/* 0: Normalize */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
  box-sizing: border-box;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
/*input[type="radio"] { box-sizing: border-box; padding: 0; }*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* Typography */

html {
  font: 400 15px 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
  color: #654;
}

p {
  line-height: 1.5em;
}
h1 {
  font-weight: 500;
  font-size: 2em;
  line-height: 1.1em;
}
h2 {
  font-weight: 500;
  font-size: 1.59em;
  line-height: 1.3em;
}
h3 {
  font-weight: 400;
  font-size: 1.26em;
  line-height: 1.5em;
}
h1,
h2,
h3 {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 700;
  transition: all 0.2s;
}

/* Forms */

button,
input,
select,
textarea,
a.button {
  border-radius: 4px;
  border: none;
}

a.button {
  display: inline-block;
}

button:hover,
input:hover,
select:hover,
textarea:hover,
a.button:hover {
  border-color: var(--lightBlue);
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a.button:focus {
  border-color: var(--lightBlue);
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
  border-color: #ccc;
  background-color: #ccc;
  color: #999;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='password'],
textarea {
  background: #fff;
  color: #543;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

/*label {
    line-height: 1em;
    padding: 1em 0;
}

label:hover {
    color: var(--darkBlue);
}*/

button,
input[type='button'],
input[type='submit'],
a.button {
  background: var(--darkBlue);
  border-color: var(--darkBlue);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1em;
  height: 40px;
}

button.register-button {
  min-width: 160px;
  font-family: 'Barlow', sans-serif;
  position: relative;
  z-index: 999999;
}

button.footer-support-button {
  font-family: 'Barlow', sans-serif;
  position: relative;
  z-index: 999999;
  background: black;
}

button.support-button,
button.support-button-mobile {
  min-width: 160px;
  font-family: 'Barlow', sans-serif;
  position: relative;
  z-index: 999999;
  background-color: var(--white);
  color: var(--darkBlue);
  margin-right: 1rem;
}

button.support-button-white {
  min-width: 160px;
  width: 100%;
  margin-top: 2rem;
  height: 52px;
  font-family: 'Barlow', sans-serif;
  position: relative;
  z-index: 999999;
  background-color: var(--white);
  color: var(--darkBlue);
  margin-right: 1rem;
}

button.support-button-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  button.support-button-mobile {
    display: inline-block;
  }

  button.support-button {
    display: none;
  }
}

input[type='button']:hover,
input[type='submit']:hover {
  background: var(--lightBlue);
}

.fieldset {
  border: 1px solid #cba;
  border-radius: 3px;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

.fieldset > input[type='text'],
.fieldset > input[type='number'],
.fieldset > input[type='email'],
.fieldset > input[type='url'],
.fieldset > input[type='tel'],
.fieldset > input[type='password'],
.fieldset > label,
.fieldset > textarea {
  border-radius: 0;
  border: none;
  display: block;
  flex: 4 4 auto;
  width: 0;
}

.fieldset > label {
  padding: 1em;
  background: #cba;
  flex: 1 1 auto;
  width: auto;
}
.fieldset > input[type='button'],
.fieldset > input[type='submit'] {
  flex: 0 0 auto;
  width: auto;
}
.fieldset > input:first-child,
.fieldset > label:first-child,
.fieldset > textarea:first-child {
  border-radius: 2px 0 0 2px;
}

.fieldset > input:last-child,
.fieldset > label:last-child,
.fieldset > textarea:last-child {
  border-radius: 0 2px 2px 0;
}

.conditional {
  display: none;
}
.conditional.show {
  display: block;
}

/* Layout */

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  background: transparent;
  padding: 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .left-container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: auto;
}

.toggle-menu .line {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--darkBlue);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.toggle-menu.is-active .line:nth-child(2) {
  opacity: 0;
}

.toggle-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.toggle-menu.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  -ms-transform: translateY(-11px) rotate(-45deg);
  -o-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}

.toggle-menu,
.close-menu {
  display: none;
  flex: 0 0 auto;
  text-align: right;
  width: 2.5rem;
  height: 3rem;
  overflow: hidden;
  margin-left: 1rem;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
}

nav.footer-nav > ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav li a {
  color: var(--darkBlue);
  display: block;
  line-height: 1rem;
  padding: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .menu {
    padding: var(--pagePaddingMobile);
  }

  nav > ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  nav li a {
    padding: 0 0 1rem 0;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .dpdc-logo .logo {
    width: 54px;
    height: 45px;
  }

  .dpdc-footer .iff-logo {
    width: 130px;
    height: 55px;
  }
}

/* Purpose Section */
.purpose {
  width: 100%;
  background-color: var(--darkBlue);
  color: var(--white);
  padding: var(--pagePadding);
  display: flex;
  justify-content: space-between;
}

.purpose .copy {
  width: 40%;
  padding: 1rem 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purpose h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.purpose .graphic {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
}

.purpose .graphic span {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
}

.purpose .graphic div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.purpose .graphic img {
  margin-left: -15px;
}

@media screen and (max-width: 768px) {
  .purpose {
    padding: var(--pagePaddingMobile);
    flex-direction: column-reverse;
  }

  .purpose h1 {
    font-size: 2rem;
  }

  .purpose .copy,
  .purpose .graphic {
    width: 100%;
  }

  .purpose .copy {
    margin: 2rem 0 0 0;
    font-size: 0.9rem;
  }

  .purpose .graphic span {
    font-size: 0.9rem;
  }

  .purpose .graphic div {
    width: 100%;
    margin-top: 1rem;
  }
}
/* Purpose Section End */

/* Testimonials Section */
.testimonials-wrapper {
  width: 100%;
  padding: var(--pagePadding);
}

.testimonials {
  width: 70%;
  margin: 0 auto;
}

.testimonial {
  font-size: 1.2rem;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 2rem 0 2rem;
  margin: 0 auto;
  line-height: 1.2rem;
  position: relative;
}

.testimonial::before,
.testimonial::after {
  font-family: 'Open Sans', sans-serif;
  content: '\201C';
  color: var(--darkBlue);
  font-size: 4rem;
  position: absolute;
}

.testimonial::before {
  left: 0;
  top: 25px;
}

.testimonial::after {
  left: calc(100% - 25px);
  top: 100%;
}

.testimonial-feed {
  padding: 1rem;
}

.testimonial-person {
  display: block;
  color: var(--midBlue);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 2rem;
}

.testimonials-title {
  text-align: center;
  color: var(--darkBlue);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  margin: 0;
}

.testimonial-card {
  padding: 0 6rem;
  min-height: 320px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.testimonial-card:focus-visible {
  outline: none;
}

.slick-prev,
.slick-next {
  display: unset;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 25px;
  height: 55px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-prev {
  left: -1rem;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='55' viewBox='0 0 25 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 52L3 27L28 2' stroke='%2310335B' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.slick-next {
  right: -1rem;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='55' viewBox='0 0 25 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 52L3 27L28 2' stroke='%2310335B' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .testimonial {
    font-size: 1rem;
    padding: 2rem 0;
  }

  .testimonials {
    width: 100%;
    padding: 0 1rem;
  }

  .testimonials p {
    width: 100%;
    text-align: center;
  }

  .testimonial-card {
    padding: 0 2rem;
  }

  .testimonial-person {
    margin-left: 0;
  }

  .testimonials-wrapper {
    padding: var(--pagePaddingMobile);
  }

  .testimonials-title {
    font-size: 2.5rem;
  }
}
/* Testimonials Section End */

/* Sponsors Section */
.sponsors {
  width: 100%;
  padding: 3rem 0;
  overflow: hidden;
}

.sponsors-grid {
  display: flex !important;
  flex-wrap: nowrap;
  width: 100vw !important;
}

.sponsors-grid-container {
  margin-top: 2.5rem;
  width: 100vw;
}

.sponsor-card {
  font-size: 1.2rem;
  height: 80px !important;
  font-family: 'Open Sans', sans-serif;
  margin-left: 8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-card img {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.sponsors-title {
  text-align: center;
  color: var(--darkBlue);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  margin: 0;
}

.simply-scroll,
.simply-scroll .simply-scroll-clip {
  height: auto !important;
  width: 100% !important;
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  .sponsors {
    padding: 2rem 0;
  }
}
/* Sponsors Section End */

/* Hero Section */

.lined-circle {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 100px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 60%;
}

.lined-circle svg {
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .lined-circle {
    top: 65%;
  }

  .lined-circle svg {
    width: 80%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1199px) {
  .lined-circle {
    top: 70%;
  }

  .lined-circle svg {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .lined-circle {
    display: none;
  }
}

.hero-section {
  display: flex;
  margin-top: -6rem;
  left: 0;
  width: 100%;
  max-height: 80vh;
  background-color: var(--teal);
  z-index: -1;
  align-items: center;
  justify-content: space-between;
  padding: var(--pagePadding);
}

.hero-section .hero-text {
  max-width: 50%;
}

.hero-section .title {
  font-weight: 600;
  margin-top: 0;
  font-size: 4rem;
  color: var(--darkBlue);
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
  line-height: 4.75rem;
}

.hero-section .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
  text-transform: uppercase;
  line-height: 2rem;
}

.hero-section .subtitle br {
  display: unset;
}

.hero-section .caption {
  color: var(--grey);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 2rem 0 1.5rem 0;
}

.hero-section .iff-logo {
  width: 30%;
}

.hero-section .hero-image {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  overflow: hidden;
}

.hero-section .hero-image img {
  width: 90%;
  height: auto;
  margin-top: 10rem;
}

@media screen and (max-width: 960px) {
  .hero-section .title {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-section .title {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px), screen and (max-height: 650px) {
  .hero-section {
    flex-direction: column;
    padding: var(--pagePaddingMobile);
    height: auto;
    min-height: 80%;
    max-height: unset;
  }

  .hero-section .title {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .hero-section .subtitle {
    font-size: 1.5rem;
  }

  .hero-section .subtitle br {
    display: none;
  }

  .hero-section .hero-text {
    position: static;
    max-width: 100%;
    margin-top: 6rem;
  }

  .hero-section .hero-image {
    width: 100%;
    left: 0;
    margin-top: -15%;
    margin-bottom: -25%;
    margin-left: 0;
  }

  .hero-section .hero-image img {
    margin-top: 2rem;
    width: 100%;
  }
}

/* Hero Section End */

/* Contact Page */

.contact-section {
  margin: 0 8%;
  width: 50%;
}
.contact-section .heading {
  font-weight: 500;
  font-size: 3rem;
  color: var(--darkBlue);
  text-transform: uppercase;
  margin: 2rem 0;
  line-height: 4.75rem;
}
.contact-section .subheading {
  color: var(--midBlue);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.contact-section .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.contact-section .subtitle a {
  color: var(--darkGrey);
}
.contact-section .subtitle a:hover {
  color: var(--lightBlue);
}
@media screen and (max-width: 768px) {
  .contact-section {
    margin: 0;
    padding: 0 5%;
    width: 100%;
  }
}
/* Contact Page End */

/* Calendar Page */

.calendar-section {
  margin: 0 5%;
}
.calendar-section .heading {
  font-weight: 500;
  font-size: 3rem;
  color: var(--darkBlue);
  text-transform: uppercase;
  margin: 1.5rem 0;
  font-family: 'Barlow', sans-serif;
  line-height: 4.75rem;
}
.calendar-section .subheading {
  color: var(--midBlue);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.calendar-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 10px;
  width: 100%;
}
.calendar-card .details {
  background-color: var(--midBlue);
  color: var(--white);
  border-radius: 12px;
  padding: 0.5rem 2.75rem;
  text-align: center;
  min-width: 160px;
}
.calendar-card .details .date {
  font-size: 3rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 4rem;
  height: 3.5rem;
  width: 100%;
}
.calendar-card .details .month {
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  margin: 0;
}
.calendar-card .details .day,
.calendar-card .details .time {
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.calendar-card .details .time {
  margin-bottom: 0.5rem;
}
.calendar-card .card {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.calendar-card .card .title {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: var(--darkBlue);
  text-transform: uppercase;
  margin-bottom: 0;
}
.calendar-card .card .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--darkGrey);
  margin-top: 0.5rem;
}
.calendar-card .card .info {
  margin: auto;
  margin-left: 1.5rem;
}
@media screen and (max-width: 900px) {
  .calendar-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .calendar-section {
    margin: 0;
    padding: 0 5%;
    width: 100%;
  }
  .calendar-section .heading {
    line-height: 4rem;
  }
  .calendar-card .details .date {
    font-size: 3rem;
  }
  .calendar-card .details .month {
    font-size: 1.5rem;
  }
  .calendar-card .details .day,
  .calendar-card .details .time {
    font-size: 1rem;
  }
  .calendar-card .details .time {
    margin-bottom: 0.5rem;
  }
  .calendar-card .card .title {
    font-size: 1.5rem;
  }
  .calendar-card .card .subtitle {
    font-size: 1rem;
  }
}
/* Calendar Page End */

/* Register Page */

.register-section {
  margin: 0 5%;
  padding: 0;
  width: 60%;
}
.register-section .heading {
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Barlow', sans-serif;
  color: var(--darkBlue);
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  line-height: 4.75rem;
}
.register-section .subheading {
  color: var(--midBlue);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.step-container {
  color: var(--darkBlue);
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.step-count {
  display: flex;
  align-items: center;
}
.step-count span {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  padding: 0 0.5rem;
}
.step-icon {
  height: 4.5rem;
  padding: 0 1rem;
}
.step-heading {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.step-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  .register-section {
    margin: 0;
    padding: 0 5%;
    width: 100%;
  }
  .register-section .heading {
    line-height: 4rem;
  }
  .step-container {
    grid-template-columns: 1fr;
  }
}
/*  Register Page End */

/* Services Page */

.services-section {
  margin: 0 5%;
  padding: 0;
  width: 80%;
}
.services-section .heading {
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Barlow', sans-serif;
  color: var(--darkBlue);
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  line-height: 4.75rem;
}
.services-section .subheading {
  color: var(--midBlue);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.services-container {
  color: var(--darkBlue);
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
}
.services-icon {
  height: 10rem;
  padding-right: 2.5rem;
  padding-bottom: 0;
}
.services-heading {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.services-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  line-height: 2rem;
}
.services-infobanner {
  padding: var(--pagePadding);
  background-color: var(--midBlue);
  color: var(--white);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.services-infobanner-content {
  font-family: 'Open Sans', sans-serif;
  width: 45%;
  font-size: 1.25rem;
}
.services-infobanner-content h1 {
  font-size: 3rem;
}
.services-infobanner-content p {
  color: var(--grey);
  font-size: 1.5rem;
}
.services-illustration {
  margin: 0;
  max-width: 45%;
}
.services-illustration img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .services-section {
    margin: 0;
    padding: 0 5%;
    width: 100%;
  }
  .services-section .heading {
    line-height: 4rem;
  }
  .services-icon {
    padding-bottom: 1rem;
  }
  .services-container {
    grid-template-columns: 1fr;
  }
  .services-infobanner {
    flex-direction: column;
  }
  .services-illustration {
    max-width: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .services-infobanner-content {
    width: 100%;
  }
  .services-infobanner-content h1 {
    font-size: 2rem;
  }
  .services-infobanner-content p {
    font-size: 1rem;
  }
  .services-heading {
    font-size: 1.5rem;
  }
  .services-content {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
/* Hacky CSS I have no shame */
@media screen and (max-width: 499px) {
  .services-illustration {
    max-width: 100%;
  }
}
/*  Services Page End */

/* Protecting Journalists Section */
.protecting-journalists {
  padding: var(--pagePadding);
  background-color: var(--midBlue);
  color: var(--white);
  width: 100%;
}
.protecting-journalists .main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.protecting-journalists .copy {
  font-family: 'Open Sans', sans-serif;
  width: 45%;
}

.protecting-journalists .copy .cta {
  width: 100%;
  display: flex;
  justify-content: center;
}

.protecting-journalists .copy .cta a {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.protecting-journalists .copy .cta button {
  width: 100%;
  height: 52px;
}

.protecting-journalists h1 {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
}

.protecting-journalists .infographic {
  font-family: 'Open Sans', sans-serif;
  width: 35%;
  margin-left: 5%;
  position: relative;
  top: -4rem;
}

.bubble {
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.bubble:not(:first-child) {
  margin-top: -14%;
}

.bubble span {
  max-width: 75%;
}

.bubble .large-text {
  font-size: 4rem;
  margin: 1rem 0;
}
.bubble.small {
  width: 240px;
  height: 240px;
}
.bubble.medium {
  width: 260px;
  height: 260px;
}
.bubble.large {
  width: 360px;
  height: 360px;
}
.bubble.dark-blue {
  background-color: var(--darkBlue);
}
.bubble.light-blue {
  background-color: var(--lightBlue);
  margin-left: -10%;
  margin-top: -8%;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.bubble.teal {
  background-color: var(--teal);
}
.bubble.column {
  flex-direction: column;
}
.bubble.right {
  margin-left: auto;
}
.bubble.left {
  margin-right: auto;
}

.protecting-journalists .copy p {
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 768px) {
  .protecting-journalists {
    padding: var(--pagePaddingMobile);
  }

  .protecting-journalists h1 {
    font-size: 2rem;
  }

  .protecting-journalists .main {
    flex-direction: column-reverse;
  }

  .protecting-journalists .copy {
    width: 100%;
    margin: 0;
  }

  .protecting-journalists .infographic {
    width: 50%;
    margin: 2rem auto 0 auto;
    position: static;
  }

  .protecting-journalists .copy {
    padding-top: 1rem;
  }

  .protecting-journalists .copy .cta a {
    width: 100%;
    font-size: 1.25rem;
  }

  .protecting-journalists .copy .cta button {
    height: 48px;
  }

  .protecting-journalists .copy p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .bubble {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .bubble:not(:first-child) {
    margin-top: -20%;
  }

  .bubble.small {
    width: 156px;
    height: 156px;
  }
  .bubble.medium {
    width: 156px;
    height: 156px;
  }
  .bubble.large {
    width: 184px;
    height: 184px;
  }
  .bubble .large-text {
    font-size: 3rem;
  }
  .bubble.light-blue {
    margin-left: 0;
    margin-top: -10%;
    font-size: 0.6rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .protecting-journalists .infographic {
    width: 75%;
    margin: 2rem auto 0 auto;
    position: static;
  }
}

@media screen and (max-width: 480px) {
  .protecting-journalists .infographic {
    width: 100%;
    margin: 2rem auto 0 auto;
    position: static;
  }
}

/* Protecting Journalists Section End */

/* Twitter Feed */
.tweets {
  padding: var(--pagePadding);
  display: flex;
  justify-content: space-between;
  background-color: var(--lightBlue);
  color: var(--white);
}

.tweets h1 {
  font-size: 2.4rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.twitter-feed {
  width: 46%;
}

a.twitter-timeline {
  display: block;
  height: 100%;
}

.twitter-feed .feed-wrapper {
  height: 100%;
  border-radius: 5px;
  overflow: auto;
  height: 800px;
}

.twitter-feed-fallback {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  color: var(--darkBlue);
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
}

.twitter-feed-fallback .grey {
  color: var(--darkGrey);
  font-size: 0.9rem;
}

.twitter-feed-fallback span {
  margin-top: 1rem;
}

.register-form {
  width: 46%;
}

.register-form h1 {
  font-size: 2.4rem;
}

.register-form .register-form-frame {
  width: 100%;
  height: 800px;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .tweets {
    padding: var(--pagePaddingMobile);
    flex-direction: column;
  }

  .twitter-feed .feed-wrapper,
  .register-form .register-form-frame {
    height: 440px;
  }

  .twitter-feed-fallback,
  .twitter-feed-fallback .grey {
    font-size: 0.8rem;
  }

  .tweets h1 {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
  }

  .twitter-feed,
  .register-form,
  .donate {
    width: 100%;
  }

  .register-form {
    margin-top: 2rem;
  }

  .register-form h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .donate {
    margin-top: 2rem;
  }
}
/* Twitter Feed End */

/* Footer */
.dpdc-footer {
  width: 100%;
  padding: 3rem 5% 0 5%;
  display: flex;
  flex-direction: column;
}

.dpdc-logo {
  display: inline-flex;
}

.dpdc-logo h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--darkBlue);
  text-transform: uppercase;
  line-height: 2rem;
  margin: 0 0 0 1rem;
}

.dpdc-footer .iff-logo {
  width: 150px;
  height: 60px;
}

.dpdc-footer .iff-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.dpdc-footer .top-section {
  display: flex;
  justify-content: space-around;
}

.dpdc-footer .top-section-left,
.dpdc-footer .top-section-right {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.dpdc-footer .links {
  margin-top: 1em;
}

.dpdc-footer .links ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.dpdc-footer .footer-nav li a {
  padding: 1rem 0 0 0;
}

.dpdc-footer .links li a {
  display: block;
  line-height: 1rem;
  padding: 1rem 0 0 0;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--darkGrey);
}

.dpdc-footer .top-section-left .buttons {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.dpdc-footer .top-section-right .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.dpdc-footer .twitter-button {
  position: relative;
  height: 40px;
  width: 205px;
  box-sizing: border-box;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: var(--white);
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 1rem;
}

.dpdc-footer .bottom-section {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  width: 75%;
  margin: 2rem auto 1rem auto;
  line-height: 2rem;
  text-align: center;
}

.dpdc-footer .bottom-section a {
  color: var(--midBlue);
  font-weight: 600;
}

.dpdc-footer .bottom-section .footer-text-separator {
  color: var(--grey);
  margin: 0 0.25rem;
  display: unset;
}

.dpdc-footer .bottom-section .footer-br {
  display: none;
}

.dpdc-footer .bottom-section span,
.dpdc-footer .bottom-section span * {
  color: var(--darkGrey);
}

@media screen and (max-width: 768px) {
  .dpdc-footer {
    padding: var(--pagePaddingMobile);
  }

  .dpdc-footer .top-section {
    flex-direction: column;
  }

  .dpdc-footer .top-section-left,
  .dpdc-footer .top-section-right {
    width: 100%;
  }

  .dpdc-footer .top-section-right {
    margin-top: 2rem;
  }

  .dpdc-footer .iff-details .iff-address {
    font-size: 0.75rem;
  }

  .dpdc-logo {
    display: flex;
    align-items: end;
  }

  .dpdc-logo h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
  }

  .dpdc-footer .top-section-left .buttons {
    flex-direction: row;
    width: 205px;
    margin-top: 1rem;
  }

  .dpdc-footer .top-section-right .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  .dpdc-footer .twitter-button {
    margin-top: 1rem;
    margin-left: 0;
  }

  .dpdc-footer .bottom-section {
    width: 100%;
    font-size: 0.75rem;
  }

  .dpdc-footer .bottom-section div {
    line-height: 1.5rem;
  }

  .dpdc-footer .bottom-section span,
  .dpdc-footer .bottom-section span * {
    line-height: 1.5rem;
  }

  .dpdc-footer .bottom-section .footer-text-separator {
    display: none;
  }

  .dpdc-footer .bottom-section .footer-br {
    display: unset;
  }
}
/* Footer End */

/* Blog Page */

.blog-page {
  padding: var(--pagePadding);
  width: 100%;
}

.blog-page h1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--darkBlue);
}

.blog-page .posts {
  width: 60%;
}

article.post {
  display: flex;
  margin: 0 0 2.5rem 0;
}

.post .post-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--darkBlue);
  margin: 0 0 0.5rem 0;
  font-family: 'Barlow', sans-serif;
}

.post .text {
  width: 65%;
  position: relative;
  color: var(--darkGrey);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.post .text .excerpt {
  font-size: 1.2rem;
}

.post .text.full-width {
  width: 100%;
}

.post img {
  width: 30%;
  height: 160px;
  margin: 0 0 0 2rem;
  object-fit: contain;
  object-position: center center;
}

.post-page {
  padding: var(--pagePadding);
  padding-bottom: 0;
}

.post-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.post-content .post-date {
  margin-bottom: 0.5rem;
}

.post-content img {
  margin-bottom: 1rem;
  max-height: 60vh;
  object-fit: cover;
}

.post-content a {
  font-weight: 500;
  color: var(--darkGrey);
  text-decoration: underline;
}

.post-content .post-title,
.tag-page h1 {
  font-size: 2.5rem;
  color: var(--darkBlue);
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

.post-content .post-title {
  font-family: 'Barlow', sans-serif;
}

.post-content h2,
.post-content h3 {
  color: var(--darkBlue);
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

.post-content h2 {
  font-size: 1.5rem;
  color: var(--midBlue);
}

.post-content h3 {
  font-size: 1.1rem;
  color: var(--teal);
}

.post-content strong {
  font-weight: 600;
}

.post-content blockquote {
  width: 100%;
  margin: 0;
}

.post-content form {
  width: 100%;
  margin-bottom: 1rem;
}

.post-content .razorpay-subscription-button {
  min-width: unset;
  max-width: unset;
  width: 100%;
}

.post-content figure {
  margin: 0;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
}

.post-tags a {
  background-color: var(--midBlue);
  color: var(--white);
  border-radius: 4px;
  padding: 0.3rem 0.4rem;
  margin-top: 4px;
  font-weight: 500;
  text-decoration: none;
}

.post-tags a:not(:first-child) {
  margin-left: 0.2rem;
}

.tag-page {
  padding: var(--pagePadding);
}

@media screen and (max-width: 1200px) {
  .blog-page .posts {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .blog-page {
    padding: var(--pagePaddingMobile);
  }

  .tag-page {
    padding: var(--pagePaddingMobile);
  }

  .blog-page h1 {
    font-size: 2rem;
  }

  .blog-page .posts {
    width: 100%;
  }

  .post .post-title {
    font-size: 1.2rem;
  }

  article.post {
    flex-direction: column-reverse;
  }

  .post .text,
  .post img {
    width: 100%;
  }

  .post img {
    margin: 0 0 1rem 0;
    height: auto;
    max-height: 240px;
  }

  .post .text .excerpt {
    font-size: 1rem;
  }

  .post-content {
    width: 100%;
    font-size: 1rem;
  }

  .post-content .post-title,
  .tag-page h1 {
    font-size: 1.4rem;
  }

  .post-content img {
    width: 100vw;
    margin-left: calc(-5% - 2px);
  }

  .post-content h2 {
    font-size: 1.1rem;
  }

  .post-content h3 {
    font-size: 1rem;
  }

  .post-page {
    padding: var(--pagePaddingMobile);
  }
}

/* Blog Page End */

nav.pagination {
  padding: 2em 2em 4em 2em;
}
nav.pagination a.newer-posts {
  float: left;
}
nav.pagination a.older-posts {
  float: right;
}

.register-button-container {
  display: flex;
}

@media screen and (max-width: 960px) {
  .register-button-container {
    flex-direction: column;
    padding-top: 1rem;
  }

  .register-button-container a,
  .register-button-container button {
    width: 100%;
  }

  .register-button-container a:not(:first-child) {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .register-button-container {
    padding-top: 0;
  }

  .register-button-container a:not(:first-child) {
    margin-top: 0;
  }

  .wrapper {
    flex-direction: column;
  }
  .wrapper::before {
    display: none;
  }

  .logo {
    padding: 0;
    max-width: 100%;
  }
  .toggle-menu,
  .logo .gap {
    display: block;
  }
  .logo .logo-v {
    display: none;
  }
  .logo .logo-h {
    display: block;
  }

  header,
  main {
    width: 100%;
  }

  header {
    justify-content: flex-start;
    padding: 2em 1em;
  }
  header .menu,
  header .toggle-menu.hide {
    display: none;
  }
  header .menu.show,
  header .toggle-menu.show,
  header .close-menu.show {
    display: block;
  }

  header .menu {
    width: 100vw;
    background-color: var(--white);
    color: var(--teal);
    position: absolute;
    top: 5rem;
    left: 0;
    transition: all 0.2s;
    z-index: 999;
    border: 1px solid var(--midBlue);
    border-radius: 4px;
  }

  header nav.primary {
    border-top: none;
  }

  .register-button-container {
    margin-left: auto;
  }
}

.banner {
  width: 100%;
  padding: 40px 5%;
  background-color: var(--darkBlue);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.banner p {
  color: white;
  margin: auto;
}
.banner a {
  color: white;
}
.banner a:hover {
  color: var(--lightBlue);
}
.support-banner {
  width: 100%;
  min-height: 200px;
  padding: 2rem 5% 2rem 20%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: rgba(217, 217, 217, 0.3);
  background-image: url(/assets/img/support.png);
  background-repeat: no-repeat;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.support-banner p {
  color: var(--darkGrey);
}
.support-banner a {
  color: var(--darkGrey);
}
.support-banner a:hover {
  color: var(--midGrey);
}
.share-buttons {
  background-color: var(--darkBlue);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 2rem 2.5rem;
  margin: 2.5rem 0 2.5rem 5%;
  width: 440px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-buttons p,
.share-buttons a {
  color: var(--white);
}
@media screen and (max-width: 768px) {
  .banner {
    padding: 20px 5%;
  }
  .support-banner {
    padding: 20px 5%;
    background-image: none;
    min-height: none;
  }
}
@media screen and (max-width: 580px) {
  .share-buttons {
    width: 100%;
    margin: 2rem 0;
  }
}

/* Allow upgrade to Ghost 2.0 */
.kg-width-wide,
.kg-width-full {
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Simple table */

table {
  border: solid 1px var(--darkBlue);
  border-collapse: collapse;
  border-spacing: 0;
}

table thead th {
  background-color: var(--darkBlue);
  border: solid 1px #000;
  color: #fff;
  padding: 10px;
  text-align: left;
}

table tbody td {
  border: solid 1px var(--darkBlue);
  color: #000;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.kg-bookmark-card {
  width: 100%;
  position: relative;
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
  text-decoration: none;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 20px;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: 0.5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: 0.5em;
  margin-bottom: 0.05em;
}

.kg-bookmark-thumbnail {
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
}

.kg-bookmark-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher::before {
  content: '•';
  margin: 0 0.5em;
}

.align-icon-center {
  display: flex;
  align-self: center;
}

.twitter-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  background: transparent 0 0 no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

.twitter-icon-black {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 22px;
  background: transparent 0 0 no-repeat;
  background-image: url('/assets/img/twitter.svg');
}

.twitter-icon-darkblue {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 22px;
  background-color: var(--darkBlue);
  -webkit-mask: url('/assets/img/twitter.svg') no-repeat 0 0;
  mask: url('/assets/img/twitter.svg') no-repeat 0 0;
}

.linkedin-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  background: transparent 0 0 no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 310 310' style='enable-background:new 0 0 310 310;' xml:space='preserve'%3E%3Cg id='XMLID_801_'%3E%3Cpath fill='%23ffffff' id='XMLID_802_' d='M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73 C77.16,101.969,74.922,99.73,72.16,99.73z'/%3E%3Cpath fill='%23ffffff' id='XMLID_803_' d='M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4 c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z'/%3E%3Cpath fill='%23ffffff' id='XMLID_804_' d='M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599 c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319 c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995 C310,145.43,300.549,94.761,230.454,94.761z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.instagram-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 22px;
  background: transparent 0 0 no-repeat;
  background-image: url('/assets/img/instagram.svg');
}

.github-icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: transparent 0 0 no-repeat;
  background-image: url('/assets/img/github.svg');
}

.youtube-icon {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 22px;
  background: transparent 0 0 no-repeat;
  background-image: url('/assets/img/youtube.svg');
}

/* FAQ section */

.faqs {
  width: '100%';
}

.faqs .heading {
  margin: 0 0 2rem 8%;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: var(--darkBlue);
  line-height: 4.75rem;
}

/* FAQ Accordion */
 button.accordion {
   width: 100%;
   background-color: var(--midBlue);
   font-weight: 500;
   text-transform: uppercase;
   border: none;
   outline: none;
   text-align: left;
   font-size: 2rem;
   padding: 1.5rem;
   height: auto;
   border-radius: 0;
   color: var(--white);
   cursor: pointer;
   transition: background-color 0.2s linear;
 }

 button.accordion:before {
   font-family: FontAwesome;
   content: "\f078";
   font-family: "fontawesome";
   font-size: 1.5rem;
   float: left;
   margin-left: 4rem;
   margin-right: 0.5rem;
 }

 button.accordion.is-open:before {
   content: "\f077";
 }

 button.accordion:hover,
 button.accordion.is-open {
   background-color: var(--darkBlue);
 }

 .accordion-content {
   background-color: var(--teal);
   border-top: 2px solid var(--white);
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-in-out;
   font-family: 'Open Sans', sans-serif;
 }

 .accordion-content .faq-item {
    padding: 2rem 6rem;
 }

 .accordion-content * {
   color: var(--white);
   font-size: 1.5rem;
 }
 
 @media screen and (max-width: 768px) {
   .faqs .heading {
     margin: 0 0 2rem 5%;
   }

   button.accordion:before {
     margin-left: 1rem;
   }

  .accordion-content .faq-item {
    padding: 2rem 4rem;
  }
 }